@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-slate-100 font-sans;
  }
}

/* Custom subtle scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0c0e12;
}
::-webkit-scrollbar-thumb {
  background: #272d37;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
